.v-rectangle {
  &::after {
    content: "";
    display: block;
    margin-top: 18px;
    height: 4px;
    width: 40px;
    background-color: get-color(black);

    @include media-from(lg) {
      margin-top: 24px;
      width: 48px;
    }
  }
}

.v-rectangle--middle {
  vertical-align: middle;
  margin-top: 16px;
  height: 4px;
  width: 40px;
  background-color: get-color(black);
}
