/* ----------------------------------------------------------------------------- *\
 *
 * Main stylesheet.
 *
\* ----------------------------------------------------------------------------- */

//
// Settings / variables
//
@import "../../node_modules/zss/src/variables/zss-defaults";
// @import "variables/global";
@import "variables/zss-overrides";
@import "variables/global";

//
// Mixins and helpers
//
@import "../../node_modules/zss/src/helpers/color";
@import "../../node_modules/zss/src/helpers/grid";
@import "../../node_modules/zss/src/helpers/hover";
@import "../../node_modules/zss/src/helpers/responsive";
// @import "helpers/ratio";
// @import "helpers/themed-gradient";

//
// Generic: common resets
//
@import "../../node_modules/zss/src/generic/border-box";
@import "../../node_modules/zss/src/generic/normalize";
@import "../../node_modules/zss/src/generic/hard-reset";

//
// Base: un-classed HTML and page setup
//
@import "../../node_modules/zss/src/base/typography";
// @import "base/responsive";
// @import "base/web-font--museo-sans";
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200;300;400;500;600&display=swap");

//
// Abstract objects
//
@import "../../node_modules/zss/src/objects/button";
@import "../../node_modules/zss/src/objects/grid";
@import "../../node_modules/zss/src/objects/list-reset";
// @import "objects/full";
// @import "objects/ratio";

//
// Components
//
@import "components/buttons";
@import "components/infobanner";
// @import "components/forms";
// @import "components/header";
// @import "components/icons";
// @import "components/info-card";
// @import "components/input";
@import "components/menu";
@import "components/sold-sticker";
// @import "components/slant";
// @import "components/visual";
//
// Scopes
//
// @import "scopes/cms-content";
// @import "scopes/forms";
//
// Themes
//
// @import "theming/general";
//
// Visual effects
//
@import "visuals/background";
// @import "visuals/blobs";
@import "visuals/border";
@import "visuals/clip";
// @import "visuals/forms";
// @import "visuals/gradient";
// @import "visuals/hover";
// @import "visuals/icons";
// @import "visuals/input";
// @import "visuals/lists";
@import "visuals/overlay";
@import "visuals/rectangle";
@import "visuals/transform";
// @import "visuals/triangle";
// @import "visuals/shadow";

//
// Utility classes
//
@import "../../node_modules/zss/src/utilities/background-color";
@import "../../node_modules/zss/src/utilities/background-position";
@import "../../node_modules/zss/src/utilities/background-size";
@import "../../node_modules/zss/src/utilities/border-color";
@import "../../node_modules/zss/src/utilities/border-radius";
@import "../../node_modules/zss/src/utilities/border-style";
@import "../../node_modules/zss/src/utilities/border-width";
@import "../../node_modules/zss/src/utilities/color";
@import "../../node_modules/zss/src/utilities/cursor";
@import "../../node_modules/zss/src/utilities/display";
@import "../../node_modules/zss/src/utilities/flex";
@import "../../node_modules/zss/src/utilities/font-size";
@import "../../node_modules/zss/src/utilities/font-style";
@import "../../node_modules/zss/src/utilities/font-weight";
@import "../../node_modules/zss/src/utilities/height";
@import "../../node_modules/zss/src/utilities/line-height";
@import "../../node_modules/zss/src/utilities/margin";
@import "../../node_modules/zss/src/utilities/object-fit";
@import "../../node_modules/zss/src/utilities/opacity";
@import "../../node_modules/zss/src/utilities/overflow";
@import "../../node_modules/zss/src/utilities/padding";
@import "../../node_modules/zss/src/utilities/position";
@import "../../node_modules/zss/src/utilities/text-align";
@import "../../node_modules/zss/src/utilities/text-decoration";
@import "../../node_modules/zss/src/utilities/text-transform";
@import "../../node_modules/zss/src/utilities/vertical-align";
@import "../../node_modules/zss/src/utilities/width";
@import "../../node_modules/zss/src/utilities/z-index";
@import "utilities/box-shadow";
// @import "utilities/flex";
// @import "utilities/font-family";
@import "utilities/height";
// @import "utilities/outline";
// @import "utilities/padding";
@import "utilities/position";
// @import "utilities/text-decoration";
// @import "utilities/transition";
// @import "utilities/width";

//
// Hacks
//
@import "hacks/font";
@import "hacks/height";
@import "hacks/margin";
@import "hacks/padding";
@import "hacks/position";
@import "hacks/width";
@import "hacks/z-index";

//
// Development tools
//
// @import "../../node_modules/zss/src/dev/strict";

p {
  font-weight: 200;
  font-size: 14px;
  margin-bottom: 8px;

  @include media-from(md) {
    font-size: 16px;
  }
}

ul {
  font-weight: 200;
  margin-bottom: 24px;
  margin-left: 24px;
}

li {
  line-height: 2;
  font-size: 14px;

  @include media-from(md) {
    font-size: 16px;
  }
}
