._letter-spacing--title {
  letter-spacing: 5px;
  @include media-from(sm) {
    letter-spacing: 9px;
  }
}

._letter-spacing--sub-title {
  letter-spacing: 2px;
  @include media-from(sm) {
    letter-spacing: 4px;
  }
}

.h2-font {
  font-weight: 600;
  line-height: 1.2;
  font-size: 24px;
  margin-bottom: 16px;
  text-align: center;

  @include media-from(lg) {
    font-size: 32px;
  }
}

.h3-font {
  font-weight: 600;
  line-height: 1.1;
  font-size: 16px;
  margin-bottom: 16px;
  text-align: center;

  @include media-from(lg) {
    font-size: 20px;
  }
}
