._height--gallery {
  height: 33vh;

  @include media-from(sm) {
    height: 27vh;
  }

  @include media-from(md) {
    height: 25vh;
  }

  @include media-from(lg) {
    height: 30vh;
  }

  @include media-from(xl) {
    height: 35vh;
  }
}

._height--logo {
  height: 50px;

  @include media-from(md) {
    height: 70px;
  }
}
