._height--gallery {
  // height: 25vh;

  // @include media-from(sm) {
  //   height: 30vh;
  // }

  @include media-from(md) {
    height: 22vh;
  }

  @include media-from(lg) {
    height: 30vh;
  }

  @include media-from(xl) {
    height: 36vh;
  }
}

._height--logo {
  height: 50px;

  @include media-from(md) {
    height: 70px;
  }
}
