._height--gallery {
  height: 44vh;

  @include media-from(sm) {
    height: 35vh;
  }

  @include media-from(md) {
    height: 22vh;
  }

  @include media-from(lg) {
    height: 30vh;
  }

  @include media-from(xl) {
    height: 38vh;
  }
}

._height--logo {
  height: 50px;

  @include media-from(md) {
    height: 70px;
  }
}
