._margin--negative--75px {
  margin-bottom: -130px;
}

._margin--top--20vh {
  @include media-from(md) {
    margin-top: 20vh;
  }
}

._margin--art-detail:not(:nth-child(4n + 5)) {
  margin-left: 4px;
}
