._top--40 {
  top: 40%;
}

._left--15 {
  left: 15%;
}

._top--image--line-art {
  top: 16px;
  @include media-from(xl) {
    top: 32px;
  }
}

.u-sticky--safari {
  position: -webkit-sticky;
}

._position--newsletter--center {
  display: table-cell;
  width: 100vw;
  height: 100vh;
  text-align: center;
  vertical-align: middle;
}
