
.u-box-shadow--1 {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.2);
}

.u-hover--box-shadow--1 {
  @include hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
}

@each $breakpoint, $size in $zss--breakpoints {
  @include media-from($breakpoint) {
    .u-hover--box-shadow--1\@#{$breakpoint} {
      @include hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      }
    }
  }
}
