@mixin menu($color) {
  visibility: visible;
  display: flex;
  z-index: 3;
  position: absolute;
  width: 100%;
  justify-content: flex-end;
  .menu-item {
    color: $color;
    text-align: center;
    margin: 2vw 2vw 0 0;
    padding: 1vw;
    transition: $animate;
    position: relative;

    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 0px;
      height: 3px;
      margin: 26px 0 0;
      transition: $animate;
      transition-duration: 0.25s;
      opacity: 0;
      background-color: darken($color, 5%);
      left: 0;
    }
    &:hover {
      cursor: pointer;

      &:before,
      &:after {
        width: 100%;
        opacity: 1;
      }
    }
  }
}
header {
  background-color: black;
  display: flex;
  justify-content: center;
  .banner-img {
    max-width: 100%;
    opacity: 0.6;
    z-index: 1;
  }
}

.logo {
  visibility: visible;
  position: absolute;
  left: 0;
  z-index: 2;
  width: 10vw;
  margin: 0.5vw;
}

.title {
  visibility: visible;
  z-index: 2;
  color: white;
  position: absolute;
  text-align: center;
}

.menu-light {
  @include menu(white);
}

.menu-dark {
  @include menu(black);
}

.hamburger-btn {
  visibility: hidden;
  right: 0;
  z-index: 5;
  position: absolute;
  background-color: transparent;
  border: none;
  padding: 3vw 5vw;

  img {
    width: 6vw;
  }
}

.pullout-menu {
  overflow: hidden;
  display: block;
  transition: all 0.75s ease;
  padding-top: 16vw;
  width: 0px;
  height: 50vw;
  background-color: #6a9bac;
  position: absolute;
  z-index: 4;
  right: 0px;
  height: 100%;
  .menu-item {
    visibility: hidden;
  }
}

.pullout-menu-show {
  display: block;
  transition: all 0.75s ease;
  padding-top: 16vw;
  width: 50vw;
  height: 50vw;
  background-color: #6a9bac;
  position: absolute;
  z-index: 4;
  right: 0;
  height: 100%;
  .menu-item {
    color: white;
    text-align: center;
    line-height: 6vw;
    font-size: 22px;
  }
}

@media (max-width: 850px) {
  .pullout-menu {
    visibility: visible;
  }
  .hamburger-btn {
    visibility: visible;
  }
  .menu-light {
    visibility: hidden;
  }
  .menu-dark {
    visibility: hidden;
  }
  .logo {
    visibility: hidden;
  }
}
