header {
  background-color: black;
  display: flex;
  justify-content: center;
}

.banner {
  max-width: 100%;
  opacity: 0.65;
  z-index: 1;
}

.header {
  display: flex;
  z-index: 2;
  position: absolute;
  width: 100%;
  justify-content: space-between;
  img {
    width: 10vw;
    margin: 0.5vw;
  }
}

.menu {
  display: flex;
  p {
    color: white;
    margin: 2vw 4vw 0 0;
  }
}

.title {
  z-index: 2;
  color: white;
  position: absolute;
  text-align: center;
}

.services-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.services-container {
  display: flex;
  justify-content: space-between;
  width: 65%;
  margin: 5vw 0 7vw 0;
  img {
    object-fit: cover;
    width: 20vw;
    height: 20vw;
  }
}

.service {
  width: 20vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  p {
    margin: 1vw 0;
  }
}

/* To use object-fit you need to give a height, but % doesnt work. vw is   */

.about-me-section {
  display: flex;
  background-color: $background-color2;
  img {
    width: 50vw;
    /* margin: 3vw 0; */
    object-fit: cover;
  }
}

.about-me-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50vw;
  p {
    margin: 3vw;
    line-height: 2vw;
  }
}

.instagram-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 23%;
  }
}

.posts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  margin: 5vw 0 7vw 0;
}

.footer {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  color: white;
  position: absolute;
  font-size: 20px;
  vertical-align: middle;
  text-align: center;
}

.footer img {
  object-fit: cover;
  opacity: 0.6;
  max-height: 20vw;
  width: 100%;
}

.footer {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    object-fit: cover;
    opacity: 0.6;
    max-height: 20vw;
    width: 100%;
  }
}

.footer-container {
  color: white;
  position: absolute;
  font-size: 20px;
  vertical-align: middle;
  text-align: center;
}
