@import url("https://fonts.googleapis.com/css?family=Heebo:100,300,400,500,700&display=swap");
.services-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 65vw;
  padding: 5vw 5vw 7vw 5vw;
}

.services-container img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.services-container .service {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services-container .service p {
  margin: 2vw 0;
  text-align: center;
}

/* To use object-fit you need to give a height, but % doesnt work. vw is   */
.about-me-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #dee7ed;
}

.about-me-section img {
  width: 50vw;
  /* margin: 3vw 0; */
  -o-object-fit: cover;
     object-fit: cover;
}

.about-me-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50vw;
}

.about-me-container p {
  margin: 3vw;
  text-align: center;
}

.instagram-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.instagram-container img {
  width: 23%;
}

.posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65%;
  margin: 5vw 0 7vw 0;
}

.footer {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-container {
  color: white;
  position: absolute;
  font-size: 20px;
  vertical-align: middle;
  text-align: center;
}

.footer img {
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.6;
  max-height: 20vw;
  width: 100%;
}

.footer {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer img {
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.6;
  max-height: 20vw;
  width: 100%;
}

.footer-container {
  color: white;
  position: absolute;
  font-size: 20px;
  vertical-align: middle;
  text-align: center;
}

@media (max-width: 850px) {
  .services-container {
    width: 90vw;
  }
}

header {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .banner-img {
  max-width: 100%;
  opacity: 0.6;
  z-index: 1;
}

.logo {
  visibility: visible;
  position: absolute;
  left: 0;
  z-index: 2;
  width: 10vw;
  margin: 0.5vw;
}

.title {
  visibility: visible;
  z-index: 2;
  color: white;
  position: absolute;
  text-align: center;
}

.menu-light {
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
  position: absolute;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu-light .menu-item {
  color: white;
  text-align: center;
  margin: 2vw 2vw 0 0;
  padding: 1vw;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  position: relative;
}

.menu-light .menu-item:before, .menu-light .menu-item:after {
  content: "";
  position: absolute;
  width: 0px;
  height: 3px;
  margin: 26px 0 0;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  opacity: 0;
  background-color: #f2f2f2;
  left: 0;
}

.menu-light .menu-item:hover {
  cursor: pointer;
}

.menu-light .menu-item:hover:before, .menu-light .menu-item:hover:after {
  width: 100%;
  opacity: 1;
}

.menu-dark {
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
  position: absolute;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu-dark .menu-item {
  color: black;
  text-align: center;
  margin: 2vw 2vw 0 0;
  padding: 1vw;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  position: relative;
}

.menu-dark .menu-item:before, .menu-dark .menu-item:after {
  content: "";
  position: absolute;
  width: 0px;
  height: 3px;
  margin: 26px 0 0;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  opacity: 0;
  background-color: black;
  left: 0;
}

.menu-dark .menu-item:hover {
  cursor: pointer;
}

.menu-dark .menu-item:hover:before, .menu-dark .menu-item:hover:after {
  width: 100%;
  opacity: 1;
}

.hamburger-btn {
  visibility: hidden;
  right: 0;
  z-index: 5;
  position: absolute;
  background-color: transparent;
  border: none;
  padding: 3vw 5vw;
}

.hamburger-btn img {
  width: 6vw;
}

.pullout-menu {
  overflow: hidden;
  display: block;
  -webkit-transition: all 0.75s ease;
  transition: all 0.75s ease;
  padding-top: 16vw;
  width: 0px;
  height: 50vw;
  background-color: #6a9bac;
  position: absolute;
  z-index: 4;
  right: 0px;
  height: 100%;
}

.pullout-menu .menu-item {
  visibility: hidden;
}

.pullout-menu-show {
  display: block;
  -webkit-transition: all 0.75s ease;
  transition: all 0.75s ease;
  padding-top: 16vw;
  width: 50vw;
  height: 50vw;
  background-color: #6a9bac;
  position: absolute;
  z-index: 4;
  right: 0;
  height: 100%;
}

.pullout-menu-show .menu-item {
  color: white;
  text-align: center;
  line-height: 6vw;
  font-size: 22px;
}

@media (max-width: 850px) {
  .pullout-menu {
    visibility: visible;
  }
  .hamburger-btn {
    visibility: visible;
  }
  .menu-light {
    visibility: hidden;
  }
  .menu-dark {
    visibility: hidden;
  }
  .logo {
    visibility: hidden;
  }
}

* {
  padding: 0;
  margin: 0;
}

p {
  font-family: "Heebo", sans-serif;
  font-weight: 300;
}

.app {
  background-color: #eeeeeec7;
}

.overlay {
  height: 100%;
  width: 100%;
}

h1 {
  font-family: "Heebo", sans-serif;
  font-weight: 500;
  font-size: 38px;
  letter-spacing: 0.2em;
  margin-top: 13vw;
}

h2 {
  font-family: "Heebo", sans-serif;
  font-weight: 300;
  font-size: 22px;
  letter-spacing: 0.1em;
  margin: 5vw 0 1vw 0;
}

h3 {
  font-family: "Heebo", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

hr {
  width: 20vw;
  border: 2px solid #b5cbd0;
}

@media (max-width: 850px) {
  .overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.4);
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}
/*# sourceMappingURL=styles.css.map */