$background-color1: #eeeeeec7;
$background-color2: #dee7ed;
$font-family: "Heebo", sans-serif;
$animate: all 0.1s ease-in-out;

@import "./home";
@import "./header";
@import url("https://fonts.googleapis.com/css?family=Heebo:100,300,400,500,700&display=swap");

* {
  padding: 0;
  margin: 0;
}

p {
  font-family: $font-family;
  font-weight: 300;
}

.app {
  background-color: $background-color1;
}
.overlay {
  height: 100%;
  width: 100%;
}

h1 {
  font-family: $font-family;
  font-weight: 500;
  font-size: 38px;
  letter-spacing: 0.2em;
  margin-top: 13vw;
}
h2 {
  font-family: $font-family;
  font-weight: 300;
  font-size: 22px;
  letter-spacing: 0.1em;
  margin: 5vw 0 1vw 0;
}
h3 {
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
}

hr {
  width: 20vw;
  border: 2px solid #b5cbd0;
}

@media (max-width: 850px) {
  .overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.4);
    overflow-x: hidden;
    transition: 0.5s;
  }
}
