* {
  padding: 0;
  margin: 0;
}

@import url("https://fonts.googleapis.com/css?family=Heebo:300,400,500,700&display=swap");

h1 {
  font-family: "Heebo", sans-serif;
  font-weight: 500;
  font-size: 38px;
  letter-spacing: 0.2em;
  margin-top: 13vw;
}
h2 {
  font-family: "Heebo", sans-serif;
  font-weight: 300;
  font-size: 22px;
  letter-spacing: 0.1em;
  margin-top: 5vw;
}

.app {
  background-color: #eeeeeec7;
}

header {
  background-color: black;
  display: flex;
  justify-content: center;
}

.banner {
  max-width: 100%;
  opacity: 0.7;
  z-index: 1;
}

.header {
  display: flex;
  z-index: 2;
  position: absolute;
  width: 100%;
  justify-content: space-between;
}

.header img {
  width: 10vw;
  margin: 0.5vw;
}

.menu {
  display: flex;
}

.menu-item {
  color: white;
  margin: 2vw 4vw 0 0;
}

.title {
  z-index: 2;
  color: white;
  position: absolute;
  text-align: center;
}

.services-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.services-container {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 5vw 0;
}

/* To use object-fit you need to give a height, but % doesnt work. vw is   */
.services-img {
  /* border: 15px solid #e9e8e8; */
  object-fit: cover;
  width: 20vw;
  height: 20vw;
}
.about-me-section {
  display: flex;
  justify-content: center;
  background-color: #dee7ed;
}

.about-me-container {
  display: flex;
}

.about-me-container img {
  width: 50%;
  /* margin: 3vw 0; */
  object-fit: cover;
}

.instagram-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instagram-container img {
  width: 23%;
}
.instagram-container h2 {
  font-size: 20px;
}

.posts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin-bottom: 5%;
}

.footer {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  color: white;
  position: absolute;
  font-size: 20px;
  vertical-align: middle;
  text-align: center;
}

.footer img {
  object-fit: cover;
  opacity: 0.6;
  max-height: 20vw;
  width: 100%;
}

@media only screen and (max-width: 700px) {
  header img {
    object-fit: cover;
    height: 400px;
    width: auto;
  }
  .services-img {
    z-index: 1;
    position: relative;
    top: -100px;
    box-sizing: border-box;
    border: 15px solid #e9e8e8;
    /* margin: 0 5%; */
    width: 100%;
  }
}
