.button {
  display: flex;
  height: 40px;
  width: 160px;
  text-decoration: none;
  color: #4a4a4a;
  font-size: 0.8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-weight: 400;
  border-style: solid;
  border-color: #777;
  border-width: 2px;
  cursor: pointer;
  transition: all 0.2s ease-Out;

  @include hover {
    border-color: #e1e1e1;
  }
}

.button2 {
  display: flex;
  height: 30px;
  width: 80px;
  text-decoration: none;
  color: #4a4a4a;
  font-size: 14px;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-weight: 400;
  border-style: solid;
  border-color: #e1e1e1;
  border-width: 2px;
  cursor: pointer;
  transition: all 0.2s ease-Out;

  @include hover {
    border-color: #e1e1e1;
  }

  @include media-from(md) {
    height: 40px;
    width: 100px;
  }
}

// .button {
//   display: flex;
//   height: 40px;
//   width: 150px;
//   text-decoration: none;
//   font-size: 0.8em;
//   letter-spacing: 1.5px;
//   align-items: center;
//   justify-content: center;
//   overflow: hidden;
//   // background-color: get-color(yellow--tulip-tree);
//   // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
//   border-style: solid;
//   border-color: black;
//   border-width: 2px;
// }

// #button-3 {
//   position: relative;
//   overflow: hidden;
//   cursor: pointer;
// }

// #button-3 a {
//   position: relative;
//   transition: all 0.45s ease-Out;
// }

// #circle {
//   width: 0%;
//   height: 0%;
//   opacity: 0;
//   line-height: 40px;
//   border-radius: 50%;
//   background: black;
//   // background: get-color(yellow--tulip-tree);
//   position: absolute;
//   transition: all 0.5s ease-Out;
//   top: 20px;
//   left: 70px;
// }

// #button-3:hover #circle {
//   width: 200%;
//   height: 500%;
//   opacity: 1;
//   top: -70px;
//   left: -70px;
//   color: white;
// }

// #button-3:hover a {
//   color: white;
// }
