.button {
  display: flex;
  height: 40px;
  width: 160px;
  text-decoration: none;
  color: #212121;
  font-size: 0.8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-weight: 400;
  border-style: solid;
  border-color: #686868;
  border-width: 2px;
  cursor: pointer;
  transition: all 0.2s ease-Out;

  @include hover {
    border-color: #e1e1e1;
  }
}

.button2 {
  display: flex;
  height: 30px;
  width: 80px;
  text-decoration: none;
  color: #4a4a4a;
  font-size: 14px;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-weight: 400;
  border-style: solid;
  border-color: #e1e1e1;
  border-width: 2px;
  cursor: pointer;
  transition: all 0.2s ease-Out;

  @include hover {
    border-color: #e1e1e1;
  }

  @include media-from(md) {
    height: 40px;
    width: 100px;
  }
}
